h1{
    text-align: center;
    padding: 1rem;
    color: #ffffff;
    background-color: gray;
}
.lazy{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 640px;
    gap: 2rem;

}
img{
    display: block;
    width: 100%;
    background-color: #000;
    animation: fade 15s;
}
footer{
    text-align: center;
    font-size: 1rem;
    background-color: gray;
    color: #ffffff;
    padding: 1rem;
}
main,footer{
    padding: 1rem;
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
