
   



.body-design{
    display: grid;
    grid-template: auto 1fr auto/auto 1fr auto;
}
header{
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
#course-title{
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    padding: 2rem;
    font-family: "lato","sans-serif";
    background-color: #0d1b2a;
    color: #f1f1f1;
}
header nav{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: "open sans";
    background-color: #0F766E;
    align-items: center;
    flex-wrap: wrap;
}
header nav a{
    text-decoration: none;
    color: #ffffff;
}
header nav a:hover{
    text-decoration: overline;
    color: gold;
}
header nav .active{
  color: #f1f1f1;
 
}

main{
    grid-column: 1/4;
    grid-row: 2/3 ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 80%;
    margin: 0 auto;
   
}

main h1{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-family: "lato","sans serif";
    gap: 1rem;
}
.card1{
    grid-row: 2;
    grid-column: 1/3;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(250px, auto));
    grid-template-rows: repeat(4,auto);
}
.card1 .first{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
 font-family: "lato","sans serif";
 font-size: 1.5rem;
}
.card1 .firstp{
    grid-row: 2;
    grid-column: 1/2;
    font-size: 1rem;
    font-family: "open sans","sans serif";
    
}
.card1 .picnic{
    grid-row: 2;
    grid-column: 2/4;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px black;
    border: 1px solid white;
    max-width: 100%;
    height: 100%;
    display: block;
    
}
.card1 .second{
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    font-family: "lato","sans serif";
    font-size: 1.5rem;
}
.card1 .flag{
    grid-row: 4;
    grid-column: 1/2;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px black;
    border: 1px solid #f1f1f1;
  width: 80%;
  height: auto;
}
.card1 .secondp{
    grid-row: 4;
    grid-column: 2/4;
    font-size: 1rem;
    font-family: "open sans", "sans serif";
}
.card2{
    grid-row: 2;
    grid-column: 3/4;
    border: 1px solid black;
   padding: 2rem;
   margin: 10px;
   border-radius: 10px;
}
.card2 .try{
    font-size: 1.5rem;
    font-family: "lato","Roboto condensed";
    
    text-align: center;
    
    padding: 10px;
    color: black;
    
    
}
.card2 ul{
    font-size: 1rem;
    font-family: "open sans","sans serif";
    padding: 15px;
    color: #0d1b2a;
}
.card2 ul a{
    color: black;
}




footer{
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    font-family: "lato","sans serif";
    font-size: 1.5rem;
    background-color: #0d1b2a;
    color: #f1f1f1;
}
.design{
    color: #f1f1f1;
    font-size: 1.5rem;
    font-family: "lato","sans serif";
}