header {
    background-color: #007BFF;
    display: grid;
    padding: 0.5rem;
    grid-gap: 1rem;
    box-shadow: 2px 2px 4px black;
    border: 1px solid white;
    grid-template-columns: 1fr 1fr;
}
header span{
    grid-column: 1;
    color: #FFFFFF;
    padding: 0.5rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;

}
.navigation{
   display: flex;
   list-style: none;
   flex-direction: column ;
   justify-content: space-around;
   align-items: center;
   display: none;
   background-color: #0F766E ;
   box-shadow: 1px 2px 3px #eee;

   
}
nav {
    grid-column: 2;
   color: #ffffff;
   padding: 1rem;
   display: flex;
   justify-content: space-evenly;
  
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    color: white;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❌";
}
.open a {
	display: block;
}
.navigation.open{
    display: flex;

}
.navigation a{
    color: #ffffff;
    font-family: "roboto", "open sans";
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.active{
   color: #FFD700;
}
.navigation a:hover{
    text-decoration: overline double;    
}
header, main, footer{
    padding: 1rem;
    margin: 0 auto;
}
main h1{
    color: black;
     font-family: "Roboto", sans-serif;
     font-size: 2rem;
     text-align: center;

}

main{
    max-width: 750px;
    margin: 0 auto;
}

#append {
  display: grid;
  grid-template-columns: 1fr ;
  gap: 1.5rem; 
  padding: 1rem;
  width: 100%;
} 
#append section{
    text-align: center;
    background-color: #f2f2f2;
}
#append section img{
  box-shadow: 2px 2px black;
  animation: fade 15s;
  border: 1px solid #ffffff;
}
#append section h3{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'open sans','verdana';
}
#append section p{
    text-align: center;
    font-size: 1rem;
    font-family: 'roboto','tahoma';
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
footer{
    text-align: center;
    background-color: #007BFF;
    color: #ffffff;
    font-family: "roboto","open sans";
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px #eee;
    border: 1px solid white;
}
