:root{
 --main_font: 'quicksand', 'sans-serif';
--heading_font: 'roboto','verdana';
--color_one: #00563F;
--color_two:#753900;

}

picture img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    box-shadow: 4px 3px black;
}
header,main,footer{
    padding: 1.5rem;
    margin: 0 auto;
}
header{
    background-color: #00563F;
    text-align: center;
    font-family: var(--heading_font);
    font-size: 1.2rem;
    color: #ffffff;
    box-shadow: 2px 4px black;
    border: 2px solid white;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 5px;
    margin: 2rem;
    text-align: center;
}
.data h2,.weather h3{
    font-family: var(--heading_font);
    font-size: 1.5rem;
    color: var(--color_one);
}
.data p,.weather p {
    font-size: 1.2rem;
    font-family: var(--main_font);
    border-radius: 5px;
}
.weather{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
    padding: 5px;
    margin: 2rem;
    text-align: center;
}
footer{
    background-color: #00563F;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--main_font);
    color: #ffffff;
}
@media screen  and (min-width: 768px){
   main{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    max-width: 90%;

   }
   .picture{
    grid-column: 1/5;
    grid-row: 1/4;
    display: block;
   }
   .data{
      grid-row: 1;
      grid-column: 1;
      
      padding: 0.2em;
   }
   .weather{
    grid-row: 2;
    grid-column: 4;
    padding: 2rem;
   }
   .data p,.weather p{
    font-size: 1rem;
   }
   .data .h2{
    text-decoration: underline double var(--color_one);
    color: black;
   }
   .weather h3 {
    display: inline-flex; 
    align-items: center; 
    gap: 0.5rem;        
}
   .weather h3::after{
     content: url('images/cloudy_weather.svg');
   }
   .section{
    background-color: #00563F;
    padding: 1rem;
    box-shadow: 2px 4px black;
    
   }
   .section h3{
    color: #ffffff;
    font-family: var(--heading_font);
   }
   .data div{
    background-color: #00563F;
    padding: 1rem;
    box-shadow: 2px 4px black;
   }
   .data span h2{
     color: #ffffff;
   }
}