header {
    background-color: #007BFF;
    display: grid;
    padding: 0.5rem;
    grid-gap: 1rem;
    box-shadow: 2px 2px 4px black;
    border: 1px solid white;
    grid-template-columns: 1fr 1fr;
}
header h1{
    grid-column: 1;
    color: #FFFFFF;
    padding: 0.5rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;

}
.navigation{
   display: flex;
   list-style: none;
   flex-direction: column ;
   justify-content: space-around;
   align-items: center;
   display: none;
   background-color: #0F766E ;
   box-shadow: 1px 2px 3px #eee;

   
}
nav {
    grid-column: 2;
   color: #ffffff;
   padding: 1rem;
  
}
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
    color: white;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❌";
}
.open a {
	display: block;
}
.navigation.open{
    display: flex;

}
.navigation a{
    color: #ffffff;
    font-family: "roboto", "open sans";
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.active{
   color: #FFD700;
}
.navigation a:hover{
    text-decoration: overline double;    
}
header, main, footer{
    padding: 1rem;
    margin: 0 auto;
}
main h1{
    color: black;
     font-family: "Roboto", sans-serif;
     font-size: 2rem;
     text-align: center;

}
figcaption{
   text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "open sans","tacoma";
    color: #007BFF;
    border: 1px solid black;
    background-color: #f1f1f1;
}
main{
    max-width: 750px;
    margin: 0 auto;
}
.figure{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto)) ;
  row-gap: 2rem;
  column-gap: 15rem;
    place-items: center;
    
}
figure{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.design{
    font-size: 1.5rem;
}
footer{
    text-align: center;
    background-color: #007BFF;
    color: #ffffff;
    font-family: "roboto","open sans";
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px #eee;
    border: 1px solid white;
}
