:root{
    --color_1 : #Ffffff;
    --color_2 : #5A1A24;
    --color_3 : #5D6D3C;
    --color_4: #2D2D2D;
    --color_5: #F6F1F2;
    --color_6: #2B0F14;
    --body_font:'open sans', verdana;
    --heading_fonts: 'lato',tahoma;
}
header,footer{
    max-width:850px;
    padding: 1rem;
    text-align: center;
    margin: 0  auto;
}
main{
    max-width: 750px;
    margin: 0  auto;
    padding: 1.2rem;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color_6);
    color: var(--color_1); 
    border-bottom: 10px solid wheat; 
}
header div{
    grid-column: 1;
}
header img{
    max-width: 70%;
    display: block;
    border-radius: 80px;
    height: auto;
}
.navigate{
   display: none;
}
#dropdown::before{
    content: "☰";
}
#dropdown.open::before{
    content: '❌';
}
#dropdown{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    background: none;
    border: 0;
   
    color: var(--color_1);
   
}
.navigate.open{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
}
nav {
    grid-column: 2;
}
nav a{
    font-size: 1rem;
    font-family: var(--heading_fonts);
    text-decoration: none;
    color: var(--color_1);
}
nav a:hover{
    text-decoration: 3px overline  var(--color_3);
}
nav a.active::after{
    content:'🎈' ;
    font-size: 1rem;
}
footer{
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto auto;
    background-color: var(--color_6);
    color: var(--color_1); 
    border-top: 10px solid wheat;
   
}
footer h3{
    grid-row:1 ;
    text-align: center;
    font-family: var(--heading_fonts);
    font-size: 1.2rem;   
}
.one{
    grid-row: 2;
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
   flex: 1 1 auto;
   font-family: var(--heading_fonts);
    font-size: 1.2rem; 
}
.two{
grid-row:3;
 display: flex;
justify-content: space-evenly;

}
.two img{
    width: 50%;
    height: auto;
}
.three{
    grid-row: 4;
    text-align: center;
     font-size: 1.2rem; 
     font-family: var(--heading_fonts);
}
.dept img,
picture img,
.pics img{ 
  display: block;
  margin: 0 auto;
  max-width: 100%;
  
}
.ok h1,
.done,
.he,
.drop  section h3,h4,
.tack{
text-align: center;
font-family: var(--heading_fonts);
font-size: 1.1rem;
}
.ok p,
.trap{
    text-align: center;
    font-family: var(--body_font);
    padding: 1rem;
}
.btn{
    display: block;
    margin: 0 auto;
    padding: 0.7rem;
    font-family: var(--heading_fonts);
    width: 120px;
    max-width: 200px;
    border-radius: 5px;
    border: 0;
    font-size: .75rem;
    border-top: 4px solid var(--color_3) ;
   margin-bottom:1.5rem ;
}
.btn:hover,
#filter:hover
{
    background-color: var(--color_2);
    color: var(--color_1);
}
#t{
    margin-top: 1.3rem;
}
.pics{
   display: flex;
   gap: 10px;
   background-color: #f3f3f3;
}
.drop section{
    display: flex;
    flex-direction: column;
}
.drop section p{
    font-family: var(--body_font);
    padding: 0.4rem;
}
.drop section img{
  border-radius: 7px;
  border: 1px solid #eee; 
  max-width: 100%;
}
#filter::before{
    content: '🧺';
    font-size: 2rem;
    
}
#filter{
box-shadow: 3px 3px 4px black;
    border: none;
    background: none;
    margin-top: 1rem;
    background-color: #2D2D2D;
    border-radius: 5px;
    width: 100px;
}

.drop ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.drop ul a{
    text-decoration: none;
    font-size: 1rem;
}
.drop ul a:hover{
    text-decoration: 2px  overline var(--color_2);
}
.tack::first-letter{
  font-size: 1.2rem;
}
.may::after{
    content: '▼';
    margin-left: 0.5rem;
    display: inline-block;
    transition: transform 0.5s ease;
      
}

.may[aria-expanded = 'true']::after{
    transform: rotate(180deg);
}
.may{
    
    background: 0;
    border: 0;
    max-width:  250px;
    background-color: var(--color_2);
     margin: 0 auto;
     padding: 0.8rem;
     box-shadow: 4px 5px 6px black;
     border-radius: 10px;
     color: var(--color_1);
      
}
